<div>
  <strong>Table Name:</strong>
  <select ng-model="tableName">
    <option ng-repeat="tableNameOption in tableNames">[[tableNameOption]]</option>
  </select>

  <br /> <br />

  <table class="table">
    <tr><th></th><th>Column Name</th><th>Operator</th><th>Value</th><th></th></tr>
    <tr ng-repeat="predicate in predicates">
      <td>where</td>
      <td>
        <select ng-model="predicate.columnName">
          <option ng-repeat="columnName in columnNames" value="[[columnName]]">
            [[columnName]]
          </option>
        </select>
      </td>
      <td>
        <select ng-model="predicate.modifier">
          <option>=</option>
          <option>&lt;</option>
          <option>&gt;</option>
          <option>in</option>
        </select>
      </td>
      <td>
        <input type="text" ng-model="predicate.value" />
      </td>
      <td>
        <a href="" ng-click="removePredicate(predicate)" class="btn btn-danger btn-xs">X</a>
      </td>
    </tr>
    <tr>
      <td colspan="100">
        <a href="" ng-click="addPredicate()" class="btn btn-success btn-xs">+ Add Predicate</a>
    </td>
    </tr>
  </table>

  <pre ng-bind="query" class="query"></pre>
</div>
