<!doctype html>

<html ng-app>
  <head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{{js "application"}}}
    <script src="/templates.js"></script>
    {{{css "application"}}}
  </head>

  <body>
    <div class="container">
      <h1>SeeDB</h1>
      <div class="row">
        <div class="col-md-5">
          {{> queryBuilder}}
        </div>

        <div id="visualizations" class="col-md-7">
        </div>
    </div>
  </body>
</html>
