<!doctype html>

<html>
  <head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    {{{js "application"}}}
    <script src="/templates.js"></script>
    {{{css "application"}}}
  </head>

  <body>
    <div class="container">
      <h1>This is the home page yo</h1>
      <p>Hello World!</p>
    </div>
  </body>
</html>
