<!doctype html>

<html ng-app="seeDB">
  <head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{{js "application"}}}
    {{{css "application"}}}
  </head>

  <body>
    <div class="container">
      <h1>SeeDB</h1>

      <div ng-controller="DatasetsController">
        <button type="button" ng-click="toggleTwoDatasets()"
          class="btn btn-primary btn-sm">
            Two Datasets?</button>

        <div class="row">
          <div class="col-md-6">
            <label>Query 1</label>
            <input type="text" class="form-control" ng-model="query1" />
          </div>
          <div class="col-md-6">
            <label>Query 2</label>
            <input type="text" class="form-control" ng-model="query2" />
          </div>
        </div>

        <button type="button" ng-click="submitQueries()"
          class="btn btn-primary btn-lg">
            Submit Queries</button>
      </div>

      {{> visualizations}}
    </div>
  </body>
</html>
